name: Build Extension

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: latest
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Compile
      run: npm run compile

    - name: Install vsce
      run: npm install -g @vscode/vsce

    - name: Package Extension
      run: vsce package --no-dependencies

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: schemat-vsx-vsix
        path: "*.vsix"

    - name: Create Release
      if: startsWith(github.ref, 'refs/tags/')
      uses: softprops/action-gh-release@v1
      with:
        files: "*.vsix"
