name: Build Extension

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: 'npm'

    - name: Install Dependencies
      run: npm ci

    - name: Compile
      run: npm run compile

    - name: Install vsce
      run: npm install -g @vscode/vsce

    - name: Package Extension
      run: vsce package --no-dependencies

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: schemat-vsx-vsix
        path: "*.vsix"
